* {
    box-sizing: border-box;
    outline: 0;
}

html {
    height: 100%;

}

body {
    background-color: #0717fc;
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

section {
    max-width: 640px;
    margin: 50px auto;
    background: #dbdbdb;
    padding: 20px;
    border-radius: 10px;
}

.relogio{
    font-size: 3em;

}